production:
  adapter: mysql
  database: snap
  username: root
  password: 
  host: localhost

development:
  adapter: mysql
  database: snap
  username: root
  password: 
  host: localhost

test:
  adapter: mysql
  database: snap_test
  username: root
  password: 
  host: localhost
